.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* ----------section1---------- */
.company1_bg {
  height: 100vh;
  background: #000;
}
#company1_wrapper {
  color: white;
}
.company1_title {
  font-size: 8em;
  font-weight: 700;
  padding-top: 10%;
}
.company1_text {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.company1_text .title {
  font-size: 3em;
  font-weight: 700;
  color: #0cc7d3;
  padding: 3% 0;
}
.company1_text .text {
  font-size: 1.5em;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}
.company1_text .text span {
  color: #ec6300;
}

/* ----------section2---------- */
.company2_bg {
  height: 100vh;
  background-image: url(../images/company/section2_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#company2_wrapper {
  text-align: center;
}
.company2_title {
  color: #265cac;
  font-size: 3em;
  font-weight: 700;
  padding: 10% 0 7% 0;
}
.company2_icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  font-weight: 700;
}
.icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10%;
  margin-bottom: 20px;
}
.icon_wrapper div {
  padding-bottom: 20px;
}
.icon_wrapper div img {
  width: 70%;
  padding-bottom: 20px;
}
.mobile_icon {
  display: none;
}

/* ----------section3---------- */
#company3_wrapper {
  margin: 10% 0;
}
.section3_item {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 5%;
  /* border: 1px solid salmon; */
}
.section3_item:nth-child(2n) {
  margin-left: 7%;
}
.section3_item:nth-child(2n + 1) {
  margin-right: 7%;
}
.section3_item img {
  width: 50%;
}
.section3_item div {
  width: 50%;
  margin-left: 7%;
}
.section3_item div h1 {
  padding-bottom: 7%;
  font-size: 2em;
  color: #ec6300;
}
.section3_item div p {
  font-size: 1.7em;
  color: #484848;
}

/* ----------section4---------- */
#map {
  height: 600px;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .icon_wrapper div p {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 1000px) {
  .section3_item:nth-child(2n) {
    margin-left: 0;
  }
  .section3_item:nth-child(2n + 1) {
    margin-right: 0;
  }
  .section3_item div {
    margin-left: 3%;
  }
  .section3_item div h1 {
    font-size: 1.6em;
  }
  .section3_item div p {
    font-size: 1.4em;
  }
}

/* ---------------------- 태블릿, 모바일 ----------------- */

@media screen and (max-width: 768px) {
  /* ----------section1---------- */
  .company1_title {
    font-size: 4em;
    text-align: center;
  }
  .company1_text .title {
    font-size: 2em;
    padding: 15% 0;
  }
  .company1_text .text {
    font-size: 1.5em;
    max-width: 80%;
    line-height: 35px;
  }
  /* ----------section2---------- */
  .company2_title {
    font-size: 2em;
    padding: 10% 0;
  }
  .pc_icon {
    display: none;
  }
  .mobile_icon {
    display: block;
    margin: 3% 0;
  }
  .icon_wrapper {
    width: 100%;
  }
  .icon_wrapper div p {
    font-size: 0.7em;
  }
  .icon_wrapper div img {
    width: 50%;
  }
  /* ----------section3---------- */
  .section3_item:nth-child(2n) {
    margin-left: 0;
  }
  .section3_item:nth-child(2n + 1) {
    margin-right: 0;
  }
  .section3_item div {
    margin-left: 3%;
  }
  .section3_item div h1 {
    font-size: 1.4em;
  }
  .section3_item div p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 600px) {
  .section3_item div p {
    font-size: 1em;
  }
  .section3_item {
    margin-bottom: 2rem;
  }
}
